@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] ="About us";
    Layout = null;
}
    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="~/css/stylesheet.css">
        <title>About</title>
    </head>
    <body>

        <div>
            <a asp-action="Index">Home</a>
        </div>


        <h1>Over het Team</h1>
        <div class="table">
            <div class="column">
                <h1>Emma Dossche</h1>
                <img src="~/Emma.jpg" class="image" />
                <p>Studente Electronica-ICT bij Vives Brugge.</p>
                <p>
                    Ze onderzocht de mogelijkheden om de website te laten samenwerken met een database
                    (via Node.js of koppeling maken tussen ASP.NET en een database).
                </p>
            </div>
            <div class="column">
                <h1>Lammert Bakker</h1>
                <img src="~/Lammert.jpg" class="image" />
                <p>Derde jaars student HBO-ICT aan NHL Stenden te Leeuwarden</p>
                <p>
                    Heeft gewerkt met asp.net core mvc in combinatie met database.
                </p>
            </div>
            <div class="column">
                <h1>Lotte Van Laenen</h1>
                <p></p>
            </div>
            <div class="column">
                <h1>Simon De Neve</h1>
                <img src="~/Simon.jpg" class="image">
                <p>
                    1ste jaars student Electronica-ICT bij Vives Brugge.
                    Hij heeft voor de HTML gezorgd van de website.
                </p>
            </div>
        </div>
    </body>
    </html>
