@model ShopReservation.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/stylesheet.css">
    <title>winkel x Corona</title>
</head>
<body>
    <div class="page">
        <header>
            <h1>Winkels x Corona</h1>
            <div>
                <button onclick="document.getElementById('login').style.display='block';document.getElementById('register').style.display='none'">Login</button>
                <button onclick="document.getElementById('register').style.display='block';document.getElementById('login').style.display='none'">Register</button>
                <button onclick="document.location = './aboutus'" formtarget="_blank">About Us</button>
            </div>       
        </header>
            

        <div id="login" class="model">
            <form asp-action="Login">
                <div class="image_container">
                    <button onclick="document.getElementById('login').style.display='none'" class="close" title="Close Model">&times;</button>
                    <img src="~/img_avatar.png" alt="Avatar" class="image">
                </div>
                <div class="container">
                    <label asp-for="UserName" class="control-label"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" asp-for="UserPassword" class="form-control" required />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>

                    <div class="form-group">
                        <button type="submit" value="Login" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="register" class="model">
            <form asp-action="PostUser">
                <div class="image_container">
                    <button onclick="document.getElementById('register').style.display='none'" class="close" title="Close Model">&times;</button>
                    <img src="~/register.png" class="image">
                </div>
                @*<div class="container">
                    <label for="lastname"><b>Lastname</b></label>
                    <input type="text" placeholder="Enter Lastname" name="lastname" required>

                    <label for="firstname"><b>Firstname</b></label>
                    <input type="text" placeholder="Enter your Firstname" name="firstname" required>

                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter your email" name="email" required>

                    <label asp-for="UserName"><b>Username</b></label>
                    <input type="text" placeholder="Enter your username" asp-for="UserName" class="form-control" name="username" required>
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <label asp-for="UserPassword"><b>Password</b></label>
                    <input asp-for="UserPassword" type="password" placeholder="Enter your password" class="form-control" name="password" required>
                    <span asp-validation-for="UserPassword" class="text-danger"></span>

                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-primary">Login</button>
                    </div>
                 </div>*@

                <div class="container">
                    <label asp-for="UserName" class="control-label"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" asp-for="UserName" class="form-control" required />
                    <span asp-validation-for="UserName" class="text-danger"></span>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" asp-for="UserPassword" class="form-control" required />
                    <span asp-validation-for="UserPassword" class="text-danger"></span>

                    <div class="form-group">
                        <button type="submit" value="Create" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
        </div>

        <div id="content">
            <article id="intro">
                Na een grote periode van lockdown, kan het heropstarten van bepaalde zaken en winkels terug beginnen.
                De maatregelen voor het verspreiden van het virus zorgen voor wat ongemak in het dagelijks leven.
                Met deze site hopen wij om kleinere zaken het leven wat gemakkelijker te maken door een beurte systeem aan te bieden met een reserveersysteem.
                Het is de bedoeling om wachtrijen buiten voor de winkels te vermijden en daardoor ook onnodig contact te vermijden.
                Met ons systeem zal je een tijdslot kunnen reserveren en daardoor je dag beter inplannen zelf gedurende de quarantaine.
            </article>
            <article>
                Klik de Register knop om u te registreren. Als u al een account hebt, klik dan op Login.
            </article>
        </div>        
    </div>
</body>
</html>

